<!DOCTYPE html>

<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/cfg.css">
    <link rel="stylesheet" href="/stylesheets/editor/cfg.css">
    <link rel="stylesheet" href="/stylesheets/editor/main.css">
    <script src="./javascripts/editor/menus.js"></script>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="/javascripts/editor/editorFiles/main.js"></script>   

</head>

<body class="fade-in">
    <div id="top">
        <!--The top container is divided into several pieces, on demand.-->


    </div>





    <div id="bottom" class="smooth-shadow flip">
        <div class="slides">
            <div class="slide active"><p>Slide 1</p></div>
            <button class="button stdStyle add-slide" onclick="addSlide(this)">Add</button>
        </div>
    </div>


</body>

</html>