<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>InfoScreen | Start Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/cfg.css">
        <link rel="stylesheet" href="/stylesheets/main-page.css">
        <link rel="icon" type="image/png" href="/images/resources/icon.png"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <script src="/javascripts/jquery.js" async defer></script>
    </head>
    <body>
        <div id="top-bar">

        </div>

        <div id="banner" class="smooth-shadow">
            <div class="bg"></div>
        </div>
        <div id="main-page-wrapper">
            <button class="main-page-menu-button" onclick="toggleSidebar()"><i class="material-icons">menu</i></button>
            <div id="side-bar">
                <div class="content">
                    <button class="close-sidebar-button" onclick="toggleSidebar()"><i class="material-icons">close</i></button>
                    <h1 id="title">InfoScreen <span style="opacity: 0.6; font-size: 1rem; font-weight: lighter; text-decoration: underline;">Web Edition 0.0.1</span></h1>
                    <button onclick="signOut()">
                        <div class="info-box smooth-shadow">Signs out</div>
                        <span class="material-icons">logout</span><span>Sign out</span>
                    </button>
                    
                    <button onclick="openFullPage(this)" name="priv">
                        <div class="info-box smooth-shadow">Privacy and Terms of service</div>
                        <span class="material-icons">privacy_tip</span><span>Privacy & TOS</span>
                    </button>
                    
                    <button onclick="openFullPage(this)" name="feedback">
                        <div class="info-box smooth-shadow">Send feedback</div>
                        <span class="material-icons">feedback</span><span>Send Feedback</span>
                    </button>
                    
                    <button class="download-program" onclick="window.location.href='http://github.com/MindChirp/infoScreen/releases';">
                        <span>Install the InfoScreen program</span><i class="material-icons">get_app</i></button>
                        
                    <div class="gradient" style="position: absolute; width: 100%; height: 0.3rem; bottom: 0; left: 0;"></div>
                </div>
            </div>

            <div id="dark-shade-modal" onclick="toggleSidebar()"></div>
            <!--<div id="info-container-modal">
                
                <div class="test smooth-shadow">A</div>
                <div class="test smooth-shadow">B</div>
                <div class="test smooth-shadow">C</div>
                <div class="test smooth-shadow">D</div>
                <div class="test smooth-shadow">E</div>
                <div class="test smooth-shadow">F</div>
                <div class="test smooth-shadow">G</div>
                
            </div>-->
            
            <div id="user-container" name="hideable">
                <div class="pfp-container smooth-shadow">
                    <div class="info-box smooth-shadow">Profile picture</div>
                    <img class="pfp" src="/images/resources/default.png">
                </div>
                <h1 id="welcome-text" class="smooth-shadow">Loading</h1>
            </div>

            <div id="action-buttons" name="hideable">
                <button class="smooth-shadow" onclick="openProjectMenu()" disabled>Open</button>
                <button class="smooth-shadow" onclick="openLiveMenu()" disabled>Live Edit</button>
                <button class="smooth-shadow" onclick="previewShows()" disabled>Preview</button>
                <button class="smooth-shadow" onclick="userOptions()">User Options</button>
            </div>

            <div class="action-menu smooth-shadow" id="projects"></div>
            <div class="action-menu smooth-shadow" id="live"></div>
            <div class="action-menu smooth-shadow" id="preview"></div>
            <div class="action-menu smooth-shadow" id="options"></div>

            <div id="user-stats" name="hideable">
                <p>User statistics</p>
                <p class="no-stats">Once you join an organisation, your contributions will be shown here.</p>
            </div>

            <div id="bottom-bar">
                <!--<p>Developed by Frikk O. Larsen</p>-->
            </div>

        </div>

        <script src="/javascripts/mainPage.js" async defer></script>
        <script src="/javascripts/shortcuts.js"></script>
        <script src="/javascripts/organisation/organisationStatusChecker.js" async defer></script>
        <script src="/javascripts/organisation/orgPage.js" async defer></script>
    </body>
</html>