<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>InfoScreen | Not signed in</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/sign-in-page.css">
        <link rel="stylesheet" href="/stylesheets/cfg.css">
        <link rel="icon" type="image/png" href="/images/resources/icon.png"/>
    </head>
    <body>
        <img id="top-right-infographic" src="/images/resources/bg.jpg">

        <div id="sign-in-cont" class="smooth-shadow">
            <img class="icon" src="/images/resources/icon.png">

            <form class="submission-form">
                <p>Email</p>
                <input type="text" autocomplete="email">

                <p>Password</p>
                <input type="password" autocomplete="current-password">

                <button class="sign-in smooth-shadow" onclick="signIn(event, this)">Sign in</button>
            </form>
        </div>        
        
        <div id="bottom-bar">
            <a href="/sugminpikkmarco">What is InfoScreen?</a>
            <a href="">Help docs</a>

        </div>
        <script src="/javascripts/mainSignIn.js"></script>
    </body>
</html>