html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-family: bahnschrift;
    /*font-family: Product Sans;*/
    overflow-x: hidden;
    background-color: var(--main-bg-color);
    height:100%;
    width: 100%;
}
/*
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }*/


  :root {
    --main-bg-color: #171F26;
    --main-button-color: #1B2630;
    --secondary-button-color: #121a21;
    --dark-secondary-button-color: #070b0e;
    --title-color: white;
    --secondary-color: rgb(15, 20, 25);
    --paragraph-color: rgb(220,220,220);
    --slider-color: #0075ff;
    font-size: 16px;
  }


  .smooth-shadow {
    box-shadow: 0 -1px 2px rgba(0,0,0,0.12), 
              0 2px 2px rgba(0,0,0,0.12), 
              0 4px 4px rgba(0,0,0,0.12), 
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
  }


  .button.stdStyle {
        text-transform: uppercase;
  background-color: #1a1a1a;
  top: 0;
  border-style: none;
  height: fit-content;
  width: fit-content;
  padding: 20px 30px 20px 30px;
  line-height: 0px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 1vh;
  font-size: 1.5vh;
  }
  
  .button.stdStyle:hover {
      background-color: #555555;
      cursor: pointer;
  }
  h1 {
      color: var(--title-color);
  }

  p {
    color: var(--paragraph-color);
  }

  @keyframes fade-in {
      0%{opacity: 0}
      100%{opacity: 1}
  }

  @keyframes fade-out {
    0%{opacity: 1}
    100%{opacity: 0}
}

.gradient {
  background: rgb(131,58,180);
  background: linear-gradient(41deg, rgba(131,58,180,1) 0%, rgba(181,73,227,1) 28%, rgba(253,29,29,1) 83%, rgba(252,145,69,1) 100%);
}

.fd-text-input {  /*label*/
  line-height: 2.6rem;
  height: 2.65rem;
  font-size: 1.5rem;
  color: var(--title-color);
  position: relative;
  margin-left: 1rem;
  width: fit-content;
  display: inline-block;
}

.fd-text-input .fd-text-input__indicator {
  height: 0.15rem;
  width: 100%;
  color: transparent;
  position: absolute;
  bottom: -0.05rem;
  left: 0;
  z-index: 4;
  background-color: #12181d;
  border-radius: 0 0 0.25rem 0.25rem;
}
.fd-text-input__action:focus ~ .fd-text-input__indicator::after {
  content: ".";
  height: 100%;
  width: 0;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: var(--slider-color);
  /*
  MAYBE GRADIENT RIPPLE EFFECT?
  background: rgb(131,58,180);
  background: linear-gradient(41deg, rgba(131,58,180,1) 0%, rgba(181,73,227,1) 28%, rgba(253,29,29,1) 83%, rgba(252,145,69,1) 100%);
  */
  animation: input-ripple-effect 300ms ease-in-out forwards;
  transition: all 300ms ease-in-out;
  border-radius: 0 0 0.25rem 0.25rem;

}

@keyframes slide-down-fd-input-information {
  0%{transform: translate(0, 0.5rem); opacity: 0;}
  100%{transform: translate(0, 100%); opacity: 1;}
}

.fd-text-input__action ~ .information {
  position: absolute;
  bottom: 0;
  left: 0;
  height: fit-content;
  width: 100%;
  background-color: var(--dark-secondary-button-color);
  transform: translate(0, 100%);
  display: none;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1rem 0.5rem;
  box-sizing: border-box;
  animation: slide-down-fd-input-information 300ms ease-in-out both;
  z-index: -1;
}

.fd-text-input__action ~ .information p {
  font-size: 1rem;
  font-weight: lighter;
  color: var(--title-color);
  line-height: 1rem;
  margin: 0;
  text-align: center;
}

.fd-text-input__action:focus ~ .information {
  display: block;
}

.fd-text-input__action ~ .fd-text-input__indicator::after {
  content: ".";
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
}



@keyframes input-ripple-effect {
  0%{height:0;width: 0;}
  100%{height: 100%; width: 100%;}
}

.fd-text-input .fd-text-input__action {
  background-color: var(--main-button-color);
  z-index: 1;
  height: 2.5rem;
  padding-left: 1rem;
  color: var(--title-color);
  font-size: 1.2rem;
  font-weight: lighter;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  font-family: bahnschrift;
}


.fd-text-input .fd-text-input__action:focus ~ .fd-text-input__title {
  transform: translate(-1rem, -1.6rem);
  font-size: 1rem;
  line-height: 1.5rem;
  height: 1.5rem;
}

.fd-text-input .fd-text-input__title  {
  position: absolute;
  padding-left: 1rem;
  box-sizing: border-box;
  font-weight: lighter;
  font-family: bahnschrift;
  pointer-events: none;
  height: 2.5rem;
  font-size: 1rem;
  line-height: 2.5rem;
  width: 100%;
  left: 0;
  color: var(--title-color);
  z-index: 2;
  background-color: transparent;
  transition: all 200ms ease-in-out;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  opacity: 0.5;
}

textarea {
  background-color: var(--main-button-color);
  border-radius: 0.25rem;
  border: none;
  padding: 1rem;
  color: var(--title-color);
  box-sizing: border-box;
  display: block;
}

.paragraph-warning {
  background: var(--dark-secondary-button-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  position: relative;
  width: fit-content;
  height: fit-content;
  margin-top: 1rem;
}

.paragraph-warning::after {
  height: 100%;
  width: 100%;
  color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: inherit;
  transform: scale(1.015, 1.1);
  content: ".";
  z-index: -1;
  background: rgb(131,58,180);
  background: linear-gradient(41deg, rgba(131,58,180,1) 0%, rgba(181,73,227,1) 28%, rgba(253,29,29,1) 83%, rgba(252,145,69,1) 100%);
}