#top-bar {
    position: relative;
    top: 0;
    left: 0;
    height: fit-content;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;    
    font-family: bahnschrift;
    /*font-family: Product Sans;*/
    background-color: var(--main-bg-color);
    overflow-y: hidden;
    overflow-x: hidden;
    animation: fade-in 300ms ease-in-out;
}

#main-page-wrapper {
    height: 100%;
    width: 100%;
    animation: slide-in-left 400ms ease-in-out;
    animation-fill-mode: both;
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    padding-top: 2rem;
    box-sizing: border-box;
    left: 0;
    top: 0;
}

#banner {
    height: 23rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    /*
    animation: test 700ms ease-in-out 1s;
    animation-fill-mode: both;
    */
    border-radius: 0 0 0.5rem 0.5rem; /*Should this be a feature?*/
    overflow: hidden;

}

#user-stats {
    padding: 1rem;
    width: 50%;
    height: fit-content;
    max-height: 20rem;
    margin: 1rem 0 0 1rem;
    border-radius: 0.5rem;
}

#user-stats p:first-of-type {
    font-size: 2rem;
    margin: 0 0 1rem 0;
}

#user-stats p:not(:first-of-type) {
    font-weight: lighter;
    opacity: 0.5;
}

@keyframes move-background {
    0% {height: 23rem}
    100% {height: 50%}
}

#fullpage-menu {
    height: 100%;
    width: 100%;
    background-color: var(--secondary-button-color);
    left: 0;
    position: absolute;
    top: 0;
    animation: expand-fullpage-menu 500ms cubic-bezier(0.42, 0, 0.07, 1.43);
    z-index: 1001;
    animation-fill-mode: both;
    padding: 1rem;
    box-sizing: border-box;
    transform: translate(-100%);
    overflow-y: hidden;
}

#fullpage-menu h1 {
    font-weight: lighter;
}

#fullpage-menu > .gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.3rem;
    z-index: 10;
}

#fullpage-menu .title:first-of-type {
    margin-top: 1rem;
    font-size: 2.3rem;
    background-color: var(--dark-secondary-button-color);
    width: fit-content;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}
#fullpage-menu .title:first-of-type::after {
    content: ".";
    color: transparent;
    background: rgb(131,58,180);
    background: linear-gradient(41deg, rgba(131,58,180,1) 0%, rgba(181,73,227,1) 28%, rgba(253,29,29,1) 83%, rgba(252,145,69,1) 100%);
    width: 100%;
    position:absolute;
    bottom: 0;
    height: 0.2rem;
    left: 0;
}

#fullpage-menu .close-button {
    height: 2rem;
    background-color: var(--dark-secondary-button-color);
    width: fit-content;
    padding: 0.5rem 2rem;
    color: var(--title-color);
    border-radius: 10rem;
    border: none;
    z-index: 1000;
    position: absolute;
    top: 1rem;
    right: 1rem;

    cursor: pointer;
}

@keyframes expand-fullpage-menu {
    100%{transform: translate(0)}
}

@keyframes slide-clicked-button {
    100%{transform: translateX(2rem)}
}

.action-menu {
    height: 70%;
    width: 70%;
    background-color: var(--main-button-color);
    border-radius: 0.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow: hidden;
}

.action-menu .side-bar {
    height: 100%;
    width: 7rem;
    background-color: var(--secondary-button-color);
    float: left; 
    position: absolute;
    top: 0;
    left: 0;
}

.action-menu .side-bar .title-container {
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.action-menu .side-bar .title-container h1 {
    transform:  rotate(-90deg);
    width: 20rem;
    text-align: center;
}
@keyframes pop-actions-in {
    0%{transform: translate(-50%, -50%) scale(0.5); opacity: 0;}
    100% {transform: translate(-50%, -50%) scale(1); opacity: 1;}
}

.action-menu .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: var(--dark-secondary-button-color);
    color: white;
    border: none;
    padding: 0.5rem;
    height: 2rem;
    border-radius: 5rem;
    width: 2rem;
    cursor: pointer;
    transition: all 200ms ease-out;
    overflow: hidden;
}

.action-menu .close-button:hover {
    width: 5rem;
}

.action-menu .close-button:hover::after {
    content: "Close";

}

.action-menu .close-button i {
    line-height: 1rem;
    width: 1rem;
    text-align: center;
    font-size: 1rem;
}


.action-menu .close-button:hover i {
    display: none;
}


#banner > .bg {

    /*
    background-image: url('/images/resources/banner.jpg');
    background-repeat:repeat-x;
    background-size: cover;
    background-position: bottom;
    */
    background: rgb(131,58,180);
    background: linear-gradient(41deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    height: 100%;
    width: 100%;
    animation-fill-mode: both;
    transition: all 1s ease-in-out;
    overflow: hidden;
}

#banner > .bg:not(.invisible)::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: 2;
    background: rgb(131,58,180);
    background: linear-gradient(41deg, rgba(131,58,180,1) 0%, rgba(181,73,227,1) 28%, rgba(253,29,29,1) 83%, rgba(252,145,69,1) 100%);
    transition: all 1s ease-in-out;
    content:".";
    color: transparent;
    animation: fade-in 1s ease-in-out 1s backwards;
}

#banner > .bg.invisible::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;
    background: rgb(131,58,180);
    background: linear-gradient(41deg, rgba(131,58,180,1) 0%, rgba(181,73,227,1) 28%, rgba(253,29,29,1) 83%, rgba(252,145,69,1) 100%);
    transition: all 1s ease-in-out;
    content:".";
}

@keyframes slide-in-left {
    0%{transform: translateX(-10rem); opacity: 0;}
    100%{transform: translateX(0); opacity: 1;}
}


.main-page-menu-button, #side-bar .close-sidebar-button {
    background-color: transparent;
    border: none;
    margin-left: 1rem;
    color: white;
    cursor: pointer;
    user-select: none;
}

#side-bar .close-sidebar-button {
    margin-left: 0;
    margin-top: 1rem;
}

.main-page-menu-button i, #side-bar .close-sidebar-button i {
    font-size: 2rem;
}

#side-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 20%;
    min-width: 27rem;
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--secondary-button-color);
    transform: translate(-100%);
    transition: transform 300ms ease-out;
    -webkit-box-shadow: -5px 0px 47px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 0px 47px 3px rgba(0,0,0,0.75);
    box-shadow: -5px 0px 47px 3px rgba(0,0,0,0.75);
}

#dark-shade-modal {
    position:absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0,0.5);
    left: 0;
    top: 0;
    display: none;
    z-index: 998;
    animation: fade-in 200ms ease-out;
}


#info-container-modal {
    height: 100%;
    width: 60%;
    padding: 2rem;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    display: none;
}

#info-container-modal .test {
    height: 10rem;
    width: 30%;
    min-width: 15rem;
    border-radius: 0.5rem;
    background-color: var(--secondary-button-color);
    display: inline-block;
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
    line-height: 10rem;
    text-align: center;
    color: var(--title-color);
}

#info-container-modal .test:nth-of-type(1) {
    animation: fade-in 300ms ease-out 0.1s;
    animation-fill-mode: both;
}

#info-container-modal .test:nth-of-type(2) {
    animation: fade-in 300ms ease-out 0.2s;
    animation-fill-mode: both;
}

#info-container-modal .test:nth-of-type(3) {
    animation: fade-in 300ms ease-out 0.3s;
    animation-fill-mode: both;
}

#info-container-modal .test:nth-of-type(4) {
    animation: fade-in 300ms ease-out 0.4s;
    animation-fill-mode: both;
}

#info-container-modal .test:nth-of-type(5) {
    animation: fade-in 300ms ease-out 0.5s;
    animation-fill-mode: both;
}

#info-container-modal .test:nth-of-type(6) {
    animation: fade-in 300ms ease-out 0.6s;
    animation-fill-mode: both;
}

#info-container-modal .test:nth-of-type(7) {
    animation: fade-in 300ms ease-out 0.7s;
    animation-fill-mode: both;
}

#side-bar button:not(.close-sidebar-button):not(.download-program) {
    height: 3rem;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    cursor: pointer;
    color: var(--paragraph-color);
    line-height: 1.3rem;
    text-align: left;
    font-size: 1.3rem;
    transition: padding-left 100ms ease-out;
    box-sizing: border-box;
    padding: 0rem 0rem 0rem 0.5rem;
}

#side-bar button:not(.close-sidebar-button):not(.download-program) span:not(:first-of-type) {
    opacity: 0.8;
    font-size: 1rem;
}

#side-bar button:not(.close-sidebar-button):not(.download-program):hover {
    padding-left: 1rem;
}

#side-bar button:not(.download-program) span {
    height: 3rem;
    line-height: 3rem;
    vertical-align: top;
    display: inline-block;
    margin-right: 0.5rem;
}

#side-bar .download-program {
    position: absolute;
    bottom: 0;
    padding: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    opacity: 0.8;
    background-color: var(--dark-secondary-button-color);
    color: var(--title-color);
    text-transform: uppercase;
    font-size: 1.2rem;
    border: none;
    font-family: bahnschrift;
    font-weight: lighter;
    overflow: hidden;
    cursor: pointer;
}

#side-bar .download-program span {
    height: 100%;
    transition: 200ms all ease-out;
}

#side-bar .download-program i {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: 200ms transform ease-out;
}

#side-bar .download-program:hover i {
    transform: translate(-50%, 100%);
}

#side-bar .download-program:hover span {
    opacity: 0;
}

#side-bar .download-program:hover {

}

#title {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 400;
    margin-left: 0.5rem;
}

#user-container {
    padding: 1rem;
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    margin-top: 3rem;
    background-color: transparent;
    transition: opacity 300ms ease-in-out;
}

#user-container .pfp-container {
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
    margin-bottom: 1rem;
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: 70ms transform ease-out;
}

#user-container .pfp-container:hover {
    transform: scale(0.9);
}

.info-box {
    pointer-events: none;
    height: fit-content;
    max-height: 5rem;
    padding: 0.8rem 1rem;
    font-weight: lighter;
    width: fit-content;
    background-color: var(--secondary-button-color);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -130%);
    opacity: 0;
    color: white;
    border-radius: 0.25rem;
    z-index: 1000;
    font-size: 1rem;
    text-align: center;
}

.info-box::before {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    transform: translate(-50%, 100%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--secondary-button-color);
    z-index: 3;
}

div:hover > .info-box, button:hover > .info-box {
    animation: fade-in 300ms ease-out 1s;
    animation-fill-mode: both;
    
}

#user-container .pfp-container:hover img {
    transform: scale(1);
}

#user-container .pfp-container img.pfp {
    height: 100%;
    width: auto;
    border-radius: 100%;
    transition: transform 100ms ease-out;
}

#user-container h1 {
    font-weight: lighter;
    margin: 0;
    background-color: var(--main-bg-color);
    height: fit-content;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

#action-buttons {
    height: fit-content;
    width: 100%;
    padding: 1rem;
    overflow: auto;
    transition: opacity 300ms ease-in-out 0.1s;
}
#action-buttons button {
    background-color: var(--secondary-button-color);
    height: 6rem;
    width: 14rem;
    border-radius: 0.5rem;
    border: none;
    transition: 100ms transform ease-out; 
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: var(--title-color);
    font-family: bahnschrift;
    font-size: 1.8rem;
    font-weight: lighter;
    position: relative;
    overflow: hidden;
}

#action-buttons button:disabled {
    cursor: default;
    opacity: 0.8;
}

#action-buttons button:disabled::after {
    content:".";
    color: transparent;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
}

#action-buttons button:hover {
    transform: translateY(-0.5rem) scale(1.05);
}

#action-buttons button:disabled:hover {
    transform: none;
}

#action-buttons button:not(:first-of-type) {
    margin-left: 1rem;
}

button#sign-out {
    position: relative;
    float: left;
    background-color: var(--secondary-button-color);
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    color: white;
    font-family: bahnschrift;
    font-weight: lighter;
    font-size: 1.2rem;
    transition: 100ms transform ease-out;
    cursor: pointer;
    display: inline-block;
}

button#sign-out:hover {
    transform: translate(0,-0.5rem);
}

button#sign-out:active {
    transform: translate(0,0.1rem);
}

#bottom-bar {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    box-sizing: border-box;
}

#bottom-bar p {
    display: inline-block;
    opacity: 0.5;
    font-weight: lighter;
    vertical-align: top;
    margin: 0.7rem 0;
    margin-left: 1rem;
}


.username-and-id {
    background-color: var(--dark-secondary-button-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: fit-content;
    margin: auto;
    transition: 200ms transform cubic-bezier(0.42, 0, 0.15, 1.8);
    cursor: pointer;
}
.username-and-id:hover {
    transform: rotate(3deg) scale(1.1);
}

.username-and-id:active {
    transform: rotate(2deg) scale(0.99);
}

.submit-feedback-button {
    position: absolute;
    bottom: 0;
    left: 1rem;
    transform: translate(0, 100%);
    background-color: var(--secondary-button-color);
    border: none;
    border-radius: 10rem;
    color: var(--title-color);
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.submit-feedback-button:hover {
    bottom: 0.5rem;
}

.submit-feedback-button:active {
    bottom: -0.1rem;
}


.element-message {
    background-color: var(--dark-secondary-button-color);
    height: fit-content;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    z-index: 1000;
    position: absolute;
    left: 50%;
    bottom: 0;
    animation: fade-in 300ms ease-out backwards;
    transform: translate(-50%, 100%);
    transition: all 300ms ease-out;
}

.element-message:hover {
    opacity: 0.6;
}

.element-message::before {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    transform: translate(-50%, -100%) rotate(180deg);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid var(--dark-secondary-button-color);
    z-index: 3;
}

.element-message p {
    margin: 0;
    text-align: center;
    color: var(--title-color);
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.5rem;
}

.apply-for-org > .main-wrapper {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.apply-for-org .image-selector-container {
    height: fit-content;
    min-height: 20rem;
    width: 20rem;
    position: relative;
    display: inline-block;
}



.apply-for-org > .main-wrapper > .wrapper {
    padding: 1rem 1rem 1rem 2rem;
}

.apply-for-org > .main-wrapper > .wrapper form {
    margin-bottom: 5rem;
}

.apply-for-org > .main-wrapper > .wrapper form label {
    margin-top: 2rem;
    position: relative;
}

.apply-for-org .image-section {
    height: fit-content;
    min-width: 22rem;
    max-width: fit-content;
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--dark-secondary-button-color);
    z-index: -2;
    border-radius: 0.5rem;
}

.apply-for-org .image-section .image-information {
    display: inline-block;
    padding: 1rem;
    vertical-align: top;
    box-sizing: border-box;
    width: 10rem;
    height: 20rem;
    position: relative;
    margin-left: 1rem;
}

.apply-for-org .image-section .image-information > .wrapper {
    height: 20rem;
    position: absolute;
    width: 7rem;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    max-width: 7rem;

}

.apply-for-org .image-section .image-information > .wrapper p {
    color: var(--title-color);
    margin: 0;
    font-weight: lighter;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    width: 8rem;
    text-align: center;
    transform: translate(0,-50%);
}
/*
.apply-for-org .image-section .image-information::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 0.2rem;
    background: rgb(131,58,180);
    background: linear-gradient(41deg, rgba(131,58,180,1) 0%, rgba(181,73,227,1) 28%, rgba(253,29,29,1) 83%, rgba(252,145,69,1) 100%);
    content: ".";
    color: transparent;
    position: absolute;
}
*/


.apply-for-org > .main-wrapper > .wrapper .image-section .ratio-warning {
    padding: 1rem;
    animation: fade-in 250ms ease-out;
    background-color: var(--dark-secondary-button-color);
    border-radius: 0.5rem;
    max-width: 10rem;
    height: 20rem;
    margin: 0 0 0 1rem;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    overflow: hidden;
    display: inline-table;
    vertical-align: top;
    
}

.apply-for-org > .main-wrapper > .wrapper .image-section .ratio-warning::after {
    content: ".";
    color: transparent;
    background: rgb(131,58,180);
    background: linear-gradient(41deg, rgba(131,58,180,1) 0%, rgba(181,73,227,1) 28%, rgba(253,29,29,1) 83%, rgba(252,145,69,1) 100%);
    width: 0.2rem;
    position:absolute;
    top: 0;
    height: 100%;
    left: 0;
}

.apply-for-org > .main-wrapper > .wrapper .image-section .ratio-warning p {
    margin: 0;
    font-weight: lighter;
    display: table-cell;
    vertical-align: middle;
}

.apply-for-org .image-selector {
    height: 20rem;
    width: 20rem;
    border-radius: 0.5rem;
    background-color: var(--main-button-color);
    position: relative;
    display: inline-block;
    float: left;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: 3;
}

.apply-for-org .image-selector-container::after {
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%) scale(1.02);
    border-radius: 0.5rem;
    content: ".";
    color: transparent;
    background: rgb(131,58,180);
    background: linear-gradient(41deg, rgba(131,58,180,1) 0%, rgba(181,73,227,1) 28%, rgba(253,29,29,1) 83%, rgba(252,145,69,1) 100%);
    z-index: 1;
    transition: all 300ms ease-in-out;
}

.apply-for-org .image-selector p.error {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: lighter;
    font-size: 0.8rem;
}

.apply-for-org .image-selector .org-image {
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.apply-for-org .image-selector-container:hover > .image-selector, .image-selector-container:hover::after {
    border-radius: 100%;
}

.apply-for-org .image-selector .upload-label {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--dark-secondary-button-color);
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
    color: var(--title-color);
    transition: all 300ms ease-out;
    user-select: none;
    z-index: 3;
}

.apply-for-org .apply-button {
    background-color: var(--dark-secondary-button-color);
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    border: none;
    cursor: pointer;
    color: var(--title-color);
    transition: all 300ms ease-out;
    user-select: none;
    display: block;
    clear: left;
    font-size: 1.3rem;
    text-transform: capitalize;
    font-family: bahnschrift;
    letter-spacing: 0.05em;
    margin: 1rem 0 0 1rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
    font-weight: lighter;
    z-index: 10;
}

.apply-for-org .apply-button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.apply-for-org .apply-button:hover {
    transform: translate(-50%, -0.5rem);
}

.apply-for-org .apply-button:active {
    transform: translate(-50%, 0.2rem);
}

.apply-for-org p.sub-title {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
    font-weight: lighter;
}

.apply-for-org .image-selector .upload-label:hover {
    transform: translate(-50%, -0.5rem);
}

.apply-for-org .image-selector .upload-label:active {
    transform: translate(-50%, 0.2rem);
}



/*ORGANISATION STATUS PAGE*/

.organisation-status > .wrapper {
    height: fit-content;
    padding: 1rem;
    background-color: var(--dark-secondary-button-color);
    border-radius: 0.5rem;
    width: fit-content;
    min-width: 30%;
    min-height: 3rem;
}


.organisation-status > .wrapper > p:not(.info) {
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0.5rem;
}

.organisation-status > .wrapper > p > span {
}

.organisation-status > .wrapper > p > span.gray {
    color: rgb(100,100,100);
}

.organisation-status > .wrapper > p > span.green {
    color: rgb(20,150,20);
}

.organisation-status > .wrapper > p > span.red {
    color: rgb(150,20,20);
}

.organisation-status > .wrapper > .info {
    height: fit-content;
    background-color: var(--slider-color);
    border-radius: 0.25rem;
    padding: 1rem;
    max-width: 40rem;
}