body, html {
    overflow-y: hidden;
}

body {
    transition: 300ms all ease-in-out;
}

#background-gradient {
    background: rgb(131,58,180);
    background: linear-gradient(41deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
    animation: fade-in 300ms ease-in-out both;
}

#main-content-wrapper {
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;
}

#sign-in-cont {
    height: 20rem;
    width: 38rem;
    background-color: var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    animation: fade-in 300ms ease-out 0.5s;
    animation-fill-mode: both;
}

#sign-in-cont .icon {
    height: 6rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    transition: all 200ms ease-out;
}
#sign-in-cont .icon:hover {
    transform: translate(-50%, -50%) scale(1.1);
    cursor: pointer;
}

#sign-in-cont .top {
    height: 20rem;
    width: 40%;
}

#sign-in-cont .bottom {
    margin-top: 1rem;
    height: fit-content;
    width:100%;
}

#sign-in-cont .bottom #register-cont {
    height: 4rem;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
}

#sign-in-cont .bottom #register-cont p {
   height: 100%;
   width: 100%;
   line-height: 4rem;
   text-align: center;
   font-weight: lighter;
   cursor: pointer; 
}


#sign-in-cont form {
    position: absolute;
    width: 80%;
    left: 50%;
    height: fit-content;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
}

#sign-in-cont form button {
    background-color: var(--main-button-color);
    margin-top: 1rem;
    border: none;
    padding: 0.5rem 1.5rem;
    font-family: bahnschrift;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-radius: 0.25rem;
    color: var(--title-color);
    cursor: pointer;
    transition: all 200ms ease-out;
} 


#sign-in-cont form button:hover {
    transform: translateY(-0.2rem);
}

#sign-in-cont form button:disabled {
    opacity: 0.5;
    pointer-events: none;
}

#sign-in-cont form button:active {
    transform: translateY(0.1rem);
}

#sign-in-cont form button.forgot-password {
    background: none; 
    border: none;
    display: inline-block;
    opacity: 0.6;
    margin-left: 0rem;
}

#sign-in-cont form input {
    background-color: var(--main-button-color);
    border: solid var(--slider-color) 2px;
    border-radius: 0.25rem;
    height: 1rem;
    width: 100%;
    padding: 0.5rem;
    color: var(--paragraph-color);
    font-size: 1rem;
    font-family: bahnschrift;
}

#sign-in-cont form p {
    height: fit-content;
    margin: 0;
    color: var(--title-color);
    font-weight: lighter;
}

#sign-in-cont form p:nth-of-type(2) {
    margin-top: 1rem;
}

#bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.5rem 1rem;
    background-color: var(--main-bg-color);
    border-radius: 0.5rem 0.5rem 0 0;
    transform: translate(0,100%);
    transition: 250ms all ease-out;
}

#bottom-bar::before {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    height: 0.6rem;
    width: 2rem;
    background-color: var(--main-bg-color);
    border-radius: 0.25rem 0.25rem 0 0;
    content: "▲";
    text-align: center;
    color: var(--title-color);
    padding: 0.2rem 1rem 0.5rem 1rem;
    cursor: pointer;
}

#bottom-bar:hover {
    transform: translate(0,0);
}

#bottom-bar:hover::before {
    content: "▼";
}

a {
    color: var(--slider-color);
    text-decoration: none;
    opacity: 0.5;
    display: inline-block;
    font-weight: lighter;
}

a:hover {
    text-decoration: underline;
}

a:not(:last-of-type) {
    margin-right: 1rem;
}

@keyframes slide-out-right {
    0%{transform: translateX(0rem); opacity: 1;}
    100%{transform: translateX(10rem); opacity: 0;}
}

#register:disabled {
    opacity: 0.5;
    pointer-events: none;
}